{% extends '::base.html.twig' %}

{% block title %}Address Book{% endblock%}

{% block content %}

    {{ include('ExampleAddressBookBundle:People:header.html.twig') }}
    
    <form action="{{ formAction }}" method="post" {{ form_enctype(form) }}>
        
        {{ form_widget(form) }}
    
        <input type="submit" value="Save"/>
    </form>
{% endblock%}